html,
* {
  background-color: #f4c95d;
}
h1 {
  color: #854d27;
  text-align: center;
  font-family: serif;
}
.recipes {
  background-color: #f4c95d;
  margin: 0 auto;
}
a.one:link,
a.one:visited {
  background-color: #854d27;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-left: 50%;
  position: relative;
  font-family: fantasy;
}
a.one:hover,
a.one:active {
  background-color: #dd7230;
}
a.two:link,
a.two:visited {
  background-color: #854d27;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-left:50%;
  margin-top: 5%;
  position: relative;
  font-family: fantasy;
}
a.two:hover,
a.two:active {
  background-color: #dd7230;
}
a.three:link,
a.three:visited {
  background-color: #854d27;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-left: 50%;
  margin-top: 5%;
  position: relative;
  font-family: fantasy;
}
a.three:hover,
a.three:active {
  background-color: #dd7230;
}
